body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C8C8C8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.photo {
  width: 400px !important;
  height: auto !important;
}

.greenBackground {
  background-color: #5cb85c !important;
}

.darkBackground {
  background-color: #151c24 !important
}

.lightBackground {
  background-color: #C8C8C8 !important
}

.workContainer {
  background-color: #d3d3d3 !important;
}